@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}

@layer utilities {
	@media (min-width: 1280px) {
		.max-w-7xl {
			max-width: 100%;
		}
	}
}

